@charset "utf-8";
/* CSS Document */
p {
	color: black;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: #7CACC1;
	padding: 15px;
}
ol, ul{
	color:black;
	font-size: 15;
}
.paragraf_2{color:black; background-color: rgba(255, 255, 255, 0.5)}
.novi_blok {
	color:darkcyan; background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	margin: 20px;
	width: 50%;
}

h1, h2{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: black;
	font-size: 30;
}
span {color: rgb(255, 0, 255);}
body{
	background-image: url("kolokviji 3/pozadina/pozadina.jpg")
	
}
a{
	color:black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000
}
a:hover{
	background-color: darkgray;
}
img{
	height:300px;
	
}

